# Automate generation of release PRs using Conventional Commits
# See https://github.com/googleapis/release-please

on:
  push:
    branches:
      - master
  workflow_dispatch:

name: release-please
jobs:
  release-please:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GHA_NODEJS_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
